.typing-effect {
  display: inline-block;
  min-height: 1.2em; // Чтобы сохранить высоту, когда текст пустой
}

.cursor {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
